$inputWidth: 30%;
$weatherDivWidth: 50%;
$defaultMargins: 20px;
$borderRadius: 10px;

ion-content {
  --background: #fff url('../../assets/bg.jpg') no-repeat center center / cover;
}
ion-input {
  border-radius: $borderRadius;
  max-width: $inputWidth !important;
  --background: #fff;
  margin-right: $defaultMargins;
}
ion-button {
  margin-left: $defaultMargins;
  max-width: 40%;
}
.top, .bottom {
  display: flex;
  width: 100%;
}
.top {
  margin: $defaultMargins 0 0 $defaultMargins;
}
.bottom {
  margin: $defaultMargins 0 0 0;
}
.arrows {
  margin: $defaultMargins 0 $defaultMargins 0;
  width: 100%;
  height: 50px;
  padding: 0 25% 0 25%;
  display: flex;
}
.weather-div {
  width: $weatherDivWidth;
  min-height: 500px;
  background: #fff;
  border-radius: $borderRadius;
  background-color: rgba(32,178,170, 0.3) ;
}
.weather-div p {
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,1);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}
.weather-div hr {
  width: 90%;
  margin-left: 5%;
  height: 5px;
  background-color: rgba(255,255,255,1);;
}
.weather-div img {
  width: 100px;
  height: 100px;
  margin-left: calc(50% - 50px);
}
.arrow-left, .arrow-right {
  background: url("../../assets/metal_arrow.png") no-repeat center center / cover;
  width: 70px;
  height: 70px;
  border-radius: $borderRadius;
  cursor: pointer;
}
.arrow-right {
  margin-left: $defaultMargins;
  transform: rotate(270deg);
}
.arrow-left {
  margin-right: $defaultMargins;
  transform: rotate(90deg);
}
.chart-container {
  background-color: rgba(255,255,255,1);
  width: 90%;
  margin-left: 5%;
  margin-bottom: $defaultMargins;
  height: 200px;
  background: #fff;
  overflow: auto;
}
@media (max-width: 900px) {
  .weather-div {
    width: 95%;
    height: 500px;
  }
  .chart-container {
    height: 150px;
  }
}
