<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center size="1">
      <ion-col size-md="4" offset-md="2" size-lg="3" offset-lg="3">
        <ion-input [(ngModel)]="city" placeholder="Enter city"></ion-input>
      </ion-col>
      <ion-col size-md="4" offset-md="2" size-lg="3" offset-lg="0">
        <ion-button (click)="recieveWeather()">
          <ion-icon slot="start" name="umbrella"></ion-icon>
          Recieve weather</ion-button>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="!showNavButtons">
      <ion-col size-lg="1" size-xs="3" offset-lg="3" offset-xs="0">
        <ion-button (click)="changePage('left')">
          Previous
        </ion-button>
      </ion-col>
      <ion-col size-lg="2" size-xs="4" offset-lg="1" offset-xs="1" id="toggle-div" style="padding: 0!important;">
        <ion-item>
          <ion-label color="dark" position="stacked" align-self-center>Daily chart</ion-label>
          <ion-toggle color="dark" [(ngModel)]="showChart" align-self-center></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col size-lg="1" size-xs="3" offset-lg="1" offset-xs="1">
        <ion-button (click)="changePage('right')">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row size="8">
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card id="weather" [hidden]="!showWeatherCard">
          <ion-card-header>
            <ion-card-title>
              {{ viewPage.city }}
            </ion-card-title>
            <ion-card-title color="dark">
              {{ viewPage.date }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content [hidden]="showChart">
            <ion-slides [options]="slideOpts">
              <ion-slide *ngFor="let hourStat of viewPage.hourly">
                <ion-card id="slide">
                  <ion-card-title color="light">
                    {{ hourStat.time }}
                  </ion-card-title>
                  <ion-card-title color="light">
                    {{ hourStat.temp }}&deg;
                  </ion-card-title>
                  <ion-card-subtitle>
                    <img src="{{ hourStat.image }}">
                  </ion-card-subtitle>
                  <ion-card-subtitle color="light">
                    {{ hourStat.description }}
                  </ion-card-subtitle>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
          <ion-card-content [hidden]="!showChart">
            <div class="chart-container">
              <canvas #lineCanvas></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
